/*
    Imports Font
*/

@font-face {
    font-family: "Outfit";
    src: url(./fonts/Outfit.ttf) format("truetype-variations");
    font-weight: 1 999;
}


/*
    Variable Declarations
*/

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --fontOutfit: "Outfit", sans-serif;
}

/*
     CSS Basic Reset 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
    Body
*/

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
    background-image: url('./images/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fontOutfit);
}


/*
    Qr-Code Container
*/

main {
   display: flex;
   flex-direction: column;
   width: 20em;
   height: 31em;
   padding-bottom: 35px;
   background-color: var(--white);
   border-radius: 15px;
   gap: 15px;
   box-shadow: 0 2px 15px rgba(0,0,0,.1) ;
}

.card__qr-code {
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 9px;
}

.card__heading {
    color: var(--dark-blue);
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.74rem;
    width: 90%;
    align-self: center;
}

.card__description {
    color: var(--grayish-blue);
    font-size: .95rem;
    text-align: center;
    padding: 0 30px;
}

.attribution {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    font-size: 0.735rem;
}

.attribution, a {
    color: var(--dark-blue);
}


/*
    Responsive Designing
*/

@media only screen and (max-width: 440px) {
    /* For mobile phones: */
    .container {
        width: 80%;
    }
} 
